{{>headers/admin/admin}}
<!-- Dashboard Graph Metrix Coming Soon -->
<div class="comingSoon">
    <div class="comgText">
        <span>Dashboard Graph Metrics Under Construction. Please wait, they will be coming soon! Our team is working
            on it <span class="higlight">:)</span></span>
    </div>
</div>