<!-- Footer -->
<footer class="footer">
  <div class="footer__addr">
    <img class="footer__logo" src="/img/logo.png" alt="">

    <h2></h2>

    <address>
      Kochi, Cochin Ernakulam, Dt-Kerala State Pin - 682011.<br>
      <a class="footer__btn" href="mailto:support@grovixlab.com">Email Us</a>
    </address>
  </div>

  <ul class="footer__nav">
    <li class="nav__item">
      <h2 class="nav__title">Links</h2>
      <ul class="nav__ul">
        <li><a href="/">Home</a></li>
        <li><a href="/trending">Trending</a></li>
        <li><a href="/categories">Categories</a></li>
      </ul>
    </li>

    <li class="nav__item nav__item--extra">
      <h2 class="nav__title">Account</h2>
      <ul class="nav__ul nav__ul--extra">
        <li><a href="/auth/signup">Create Account</a></li>
        <li><a href="/auth/login">Use Existing Account</a></li>
        <li><a href="/dashboard">Dashboard</a></li>
        <li><a href="/dashboard/settings/">Settings</a></li>
      </ul>
    </li>

    <li class="nav__item">
      <h2 class="nav__title">Legal</h2>
      <ul class="nav__ul">
        <li><a href="/privacy-policy">Privacy Policy</a></li>
        <li><a href="/terms-of-use">Terms of Use</a></li>
        <li><a href="/sitemap.xml">Sitemap</a></li>
      </ul>
    </li>
  </ul>

  <div class="legal">
    <p>&copy; 2024 <span style="color: #0078e8;"><b>Grovix Lab</b></span>. All rights reserved.</p>
  </div>
</footer>

