<style>
    .topWriters {
        width: 100%;
        display: flex;
        flex-direction: column;
        align-items: center;
        justify-content: center;
    }

    .topWriters .topContainer {
        width: 90%;
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
    }

    .topWriters .cardTitle {
        display: flex;
        align-items: center;
    }

    .topWriters .slideIcon {
        display: flex;
        flex-direction: row;
        align-items: center;
        justify-content: space-between;
    }

    .topWriters .slideIcon button {
        width: 40px;
        height: 40px;
        border: none;
        display: flex;
        align-items: center;
        justify-content: center;
        border-radius: 50%;
        background-color: transparent;
        cursor: pointer;
        background-color: #f6f6f6;
    }

    .topWriters .cardContainer {
        width: 90vw;
        display: flex;
        flex-direction: row;
        align-items: center;
        overflow-x: auto;
        padding-bottom: 20px;
    }

    .topWriters .cardContainer::-webkit-scrollbar {
        height: 8px;
    }

    .topWriters .cardContainer::-webkit-scrollbar-thumb {
        background: #ccc;
        border-radius: 4px;
    }

    .topWriters .cardContainer .card {
        min-width: 250px;
        max-width: 250px;
        height: 170px;
        display: flex;
        flex-direction: column;
        border: 1px solid #ccc;
        border-radius: 13px;
        overflow: hidden;
        background: #0078e8;
        margin-right: 20px;
    }

    .topWriters .cardContainer .card .topCard {
        width: 100%;
        height: 60px;
        display: flex;
        overflow: hidden;
        align-items: end;
        justify-content: center;
    }

    /*.topWriters .cardContainer .card .topCard .topperText {
        width: 100%;
        height: 20px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: start;
    }*/

    .topWriters .cardContainer .card .topCard .topperText {
        width: 100%;
        height: 20px;
        background-color: #fff;
        display: flex;
        align-items: center;
        justify-content: start;
        transform: rotate(-5deg);
        /* Adjust the angle as needed */
        transform-origin: left center;
        margin-top: 8px !important;
        /* Ensures the rotation starts from the left */

        /* also subtract section padding (1.5rem) */
        margin: 0 -601.5rem;
        /* add back section padding (1.5rem) */
        padding: 0.25rem 1.5rem;
    }

    .topWriters .cardContainer .card .topCard .topperText marquee {
        color: #000;
        text-transform: capitalize;
        font-size: 12px;
    }

    .topWriters .cardContainer .card .bottomCard {
        width: 100%;
        height: calc(100% - 70px);
        display: flex;
        align-items: center;
        justify-content: center;
    }

    .topWriters .cardContainer .card .bottomCard .profileArea {
        display: flex;
        align-items: center;
        justify-content: center;
        width: 85px;
        height: 100%;
    }

    .topWriters .cardContainer .card .bottomCard .profileArea .profile {
        width: 60px;
        height: 60px;
        overflow: hidden;
        border-radius: 50%;
        border: 2px solid #fff;
    }

    .topWriters .cardContainer .card .bottomCard .profileArea .profile img {
        width: 100%;
        height: 100%;
    }

    .topWriters .cardContainer .card .bottomCard .profileText {
        width: calc(100% - 85px);
        height: 100%;
        display: flex;
        align-items: start;
        justify-content: center;
        flex-direction: column;
        color: #f6f6f6;
        padding: 10px;
    }

    .topWriters .cardContainer .card .bottomCard .profileText h3 {
        margin: 0;
        font-weight: 400;
        font-size: 14px;
        color: #fff;
        line-height: 14px;
        display: flex;
        align-items: center;
        justify-content: start;
        text-align: left;
        font-weight: 700;
    }

    .topWriters .cardContainer .card .bottomCard .profileText span {
        font-size: 12px;
        color: #f6f6f6;
        margin: 0px;
        line-height: 20px !important;
        text-align: left;
    }

    .topWriters .cardContainer .card .bottomCard .profileText .name {
        width: 100%;
        /*height: 50%;*/
        overflow: hidden;
        display: flex;
        align-items: end;
    }

    .topWriters .cardContainer .card .bottomCard .profileText .articleAmount {
        width: 100%;
        /*height: 50%;*/
        overflow: hidden;
        display: flex;
        align-items: start;
        /*blur overflow code*/
    }
</style>

<div class="topWriters">
    <div class="topContainer">
        <div class="cardTitle">
            <h3>Top Writers</h3>
        </div>
        <div class="slideIcon">
            <!-- Scroll buttons -->
            <button id="scrollLeft" title="Scroll Left" aria-label="Scroll Left">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    style="fill: rgba(0, 0, 0, 1);">
                    <path d="M13.293 6.293 7.586 12l5.707 5.707 1.414-1.414L10.414 12l4.293-4.293z"></path>
                </svg>
            </button>
            &nbsp;
            &nbsp;
            <button id="scrollRight" title="Scroll Right" aria-label="Scroll Right">
                <svg xmlns="http://www.w3.org/2000/svg" width="24" height="24" viewBox="0 0 24 24"
                    style="fill: rgba(0, 0, 0, 1);">
                    <path d="M10.707 17.707 16.414 12l-5.707-5.707-1.414 1.414L13.586 12l-4.293 4.293z"></path>
                </svg>
            </button>
        </div>
    </div>

    <!-- Card -->
    <div class="cardContainer" id="cardContainer">
        <div class="card">
            <div class="topCard">
                <div class="topperText">
                    <marquee class="marquee" scrollamount="7" scrolldelay="100" direction="left">START WRITING, NO
                        MATTER WHAT. THE
                        WATER DOES NOT FLOW UNTIL THE FAUCET IS TURNED ON.</marquee>
                </div>
            </div>
            <div class="bottomCard">
                <div class="profileArea">
                    <div class="profile">
                        <img src="https://www.grovixlab.com/img/user/664f0e20824a3c931cfbd4fc.webp" alt="Sajad PP">
                    </div>
                </div>
                <div class="profileText">
                    <div class="name">
                        <h3>Sajad PP
                            <svg xmlns="http://www.w3.org/2000/svg" title="Officials" width="20" height="20"
                                viewBox="0 0 24 24" style="fill: #ffffff;">
                                <path
                                    d="M19.965 8.521C19.988 8.347 20 8.173 20 8c0-2.379-2.143-4.288-4.521-3.965C14.786 2.802 13.466 2 12 2s-2.786.802-3.479 2.035C6.138 3.712 4 5.621 4 8c0 .173.012.347.035.521C2.802 9.215 2 10.535 2 12s.802 2.785 2.035 3.479A3.976 3.976 0 0 0 4 16c0 2.379 2.138 4.283 4.521 3.965C9.214 21.198 10.534 22 12 22s2.786-.802 3.479-2.035C17.857 20.283 20 18.379 20 16c0-.173-.012-.347-.035-.521C21.198 14.785 22 13.465 22 12s-.802-2.785-2.035-3.479zm-9.01 7.895-3.667-3.714 1.424-1.404 2.257 2.286 4.327-4.294 1.408 1.42-5.749 5.706z">
                                </path>
                            </svg>
                        </h3>
                    </div>
                    <div class="articleAmount">
                        <span>Founder and CEO of Thintry.</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Duplicate card as needed -->
        <div class="card">
            <div class="topCard">
                <div class="topperText">
                    <marquee scrollamount="7" scrolldelay="100" direction="left">GET IT DOWN. TAKE CHANCES. IT MAY BE
                        BAD, BUT IT'S THE ONLY WAY YOU CAN DO ANYTHING REALLY GOOD.</marquee>
                </div>
            </div>
            <div class="bottomCard">
                <div class="profileArea">
                    <div class="profile">
                        <img src="https://www.grovixlab.com/img/user/664f683691829712e4d6713a.webp" alt="Adil Nasar KC">
                    </div>
                </div>
                <div class="profileText">
                    <div class="name">
                        <h3>Adil Nasar KC
                            <svg xmlns="http://www.w3.org/2000/svg" title="Officials" width="20" height="20"
                                viewBox="0 0 24 24" style="fill: #fff;">
                                <path
                                    d="M19.965 8.521C19.988 8.347 20 8.173 20 8c0-2.379-2.143-4.288-4.521-3.965C14.786 2.802 13.466 2 12 2s-2.786.802-3.479 2.035C6.138 3.712 4 5.621 4 8c0 .173.012.347.035.521C2.802 9.215 2 10.535 2 12s.802 2.785 2.035 3.479A3.976 3.976 0 0 0 4 16c0 2.379 2.138 4.283 4.521 3.965C9.214 21.198 10.534 22 12 22s2.786-.802 3.479-2.035C17.857 20.283 20 18.379 20 16c0-.173-.012-.347-.035-.521C21.198 14.785 22 13.465 22 12s-.802-2.785-2.035-3.479zm-9.01 7.895-3.667-3.714 1.424-1.404 2.257 2.286 4.327-4.294 1.408 1.42-5.749 5.706z">
                                </path>
                            </svg>
                        </h3>
                    </div>
                    <div class="articleAmount">
                        <span>CTO and Co-founder at Thintry</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="topCard">
                <div class="topperText">
                    <marquee class="marquee" scrollamount="7" scrolldelay="100" direction="left">THE FIRST DRAFT IS JUST
                        YOU TELLING YOURSELF THE STORY.</marquee>
                </div>
            </div>
            <div class="bottomCard">
                <div class="profileArea">
                    <div class="profile">
                        <img src="https://www.grovixlab.com/img/user/664f341efe43d899cd159a7c.webp" alt="Noshin Naved CK">
                    </div>
                </div>
                <div class="profileText">
                    <div class="name">
                        <h3>Noshin Naved CK
                            <svg xmlns="http://www.w3.org/2000/svg" title="Officials" width="20" height="20"
                                viewBox="0 0 24 24" style="fill: #fff;">
                                <path
                                    d="M19.965 8.521C19.988 8.347 20 8.173 20 8c0-2.379-2.143-4.288-4.521-3.965C14.786 2.802 13.466 2 12 2s-2.786.802-3.479 2.035C6.138 3.712 4 5.621 4 8c0 .173.012.347.035.521C2.802 9.215 2 10.535 2 12s.802 2.785 2.035 3.479A3.976 3.976 0 0 0 4 16c0 2.379 2.138 4.283 4.521 3.965C9.214 21.198 10.534 22 12 22s2.786-.802 3.479-2.035C17.857 20.283 20 18.379 20 16c0-.173-.012-.347-.035-.521C21.198 14.785 22 13.465 22 12s-.802-2.785-2.035-3.479zm-9.01 7.895-3.667-3.714 1.424-1.404 2.257 2.286 4.327-4.294 1.408 1.42-5.749 5.706z">
                                </path>
                            </svg>
                        </h3>
                    </div>
                    <div class="articleAmount">
                        <span>Creative Director at Thintry.</span>
                    </div>
                </div>
            </div>
        </div>

        <div class="card">
            <div class="topCard">
                <div class="topperText">
                    <marquee class="marquee" scrollamount="7" scrolldelay="100" direction="left">THE FIRST DRAFT IS JUST
                        YOU CAN ALWAYS EDIT A BAD PAGE. YOU CAN’T EDIT A BLANK PAGE.</marquee>
                </div>
            </div>
            <div class="bottomCard">
                <div class="profileArea">
                    <div class="profile">
                        <img src="https://www.grovixlab.com/img/user/6654c788236ce9984fb93dfc.webp" alt="Hassan Branzle">
                    </div>
                </div>
                <div class="profileText">
                    <div class="name">
                        <h3>Hassan Branzle
                        </h3>
                    </div>
                    <div class="articleAmount">
                        <span>Founder and CEO of Branzle.</span>
                    </div>
                </div>
            </div>
        </div>

        <!-- Add more cards as necessary -->
    </div>
</div>

<script>
    const scrollContainer = document.getElementById('cardContainer');
    const scrollLeftBtn = document.getElementById('scrollLeft');
    const scrollRightBtn = document.getElementById('scrollRight');

    scrollLeftBtn.addEventListener('click', () => {
        scrollContainer.scrollBy({
            left: -250, // Adjust this value according to the width of your cards
            behavior: 'smooth'
        });
    });

    scrollRightBtn.addEventListener('click', () => {
        scrollContainer.scrollBy({
            left: 250, // Adjust this value according to the width of your cards
            behavior: 'smooth'
        });
    });
</script>