{{> headers/dashboard/earnings}}
<!-- Earnings -->
<div class="earnContainer">
    <div class="earn">
        <div class="earnTitle">
            <h3>Start your earning journey</h3>
            <span>Earn income by connecting with your fans and gain access to support forums and creator
                tools</span>
        </div>
        <div class="eligibility">
            <span>Articles. {{articles}}</span>
            <div class="scale">
                <div class="covered" style="width: {{articles_graph}}%;"></div>
                <div class="uncovered">
                </div>
            </div>
        </div>
        <div class="eligibility">
            <span>Reach. {{formatNumber views}}</span>
            <div class="scale">
                <div class="covered" style="width: {{views_graph}}%;"></div>
                <div class="uncovered">
                </div>
            </div>
        </div>
        <div class="earnTitle">
            <span style="margin-top: 20px;">Notify Me When I'm Eligible for <a href="">Earnings</a> in
                Grovix.</span>
        </div>
    </div>
</div>


