{{>headers/dashboard/notifications}}
<!-- Dashboard Graph Metrix Coming Soon -->
<div class="comingSoon">
    <div class="comgText">
        <span>Currently, we are sending notifications via email. Please wait as our team is working on a dedicated
            notification page <span class="higlight">:)</span></span>
    </div>
</div>