<div class="container">
    <h1>Add a Book</h1>
    <form action="/books/add" method="POST">
        <div class="input-group">
            <label for="bookName">Book Name</label>
            <input type="text" id="bookName" name="bookName" required>
        </div>
        <div class="input-group">
            <label for="bookNumber">Book Number</label>
            <input type="text" id="bookNumber" name="bookNumber" required>
        </div>
        <button type="submit" class="button">Add Book</button>
    </form>
</div>
