<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{{title}}</title>
    {{#if auth}}
    {{else}}
    <link rel="stylesheet" href="/css/style.css">
    {{/if}}

</head>

<body>
    {{{body}}}
</body>

</html>