{{> headers/user/article_header}}
<!-- Spacing -->
<style>
    @media only screen and (max-width: 899px) {
        .mobile-view {
            height: 20px;
        }
    }

    @media only screen and (max-width: 600px) {
        .mobile-view {
            height: 75px;
        }
    }
</style>

<div class="mobile-view"></div>

<!-- Content -->
<div class="container">
    <div class="content">
        <div class="cont-cont">
            <div class="terms">
                <h1>Grovix Lab Terms and Conditions</h1>

            </div>
        </div>
    </div>


    <style>
        .banner {
            position: fixed;
            bottom: 0;
            left: 50%;
            transform: translateX(-50%);
            width: 350px;
            height: 50px;
            background-color: #fff;
            box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
            display: flex;
            align-items: center;
            justify-content: space-between;
            padding: 5px;
            z-index: 1000;
        }

        .banner img {
            width: 100%;
            height: auto;
            cursor: pointer;
        }

        .close-btn {
            position: absolute;
            top: 5px;
            right: 10px;
            font-size: 20px;
            cursor: pointer;
            color: #000;
        }

        @media (max-width: 400px) {
            .banner {
                width: 90%;
                height: auto;
            }
        }
    </style>
    <div class="banner" id="banner">
        <img alt="Advertisement" id="adImage" src="https://i.postimg.cc/SRfGym3Q/Time-to-make-money.gif" />
        <span class="close-btn" id="closeBtn">×</span>
    </div>
    <script>
        document.getElementById('closeBtn').addEventListener('click', function () {
            document.getElementById('banner').style.display = 'none';
        });

        document.getElementById('adImage').addEventListener('click', function () {
            window.location.href = 'https://www.grovixlab.com/auth/signup';
        });

    </script>

    <br /><br />

    <!-- Share button script -->
    <script>
        document.addEventListener('DOMContentLoaded', function () {
            const shareButton = document.getElementById('nativeShareButton');

            shareButton.addEventListener('click', async () => {
                if (navigator.share) {
                    try {
                        await navigator.share({
                            title: '{{article.title}}',
                            text: '{{article.description}}',
                            url: 'https://www.grovixlab.com/page/{{article.endpoint}}',
                        });
                        console.log('Content shared successfully');
                    } catch (error) {
                        console.error(error);
                        console.error('Error sharing content:', error);
                    }
                } else {
                    alert('Web Share API is not supported in your browser.');
                }
            });
        });

    </script>
    <br>