<div class="container">
    <form action="/auth/user/verify/{{user_id}}" method="post" class="regForm">
        <div class="inputImage">
            <img src="/img/logo.png" alt="">
        </div>
        <div class="inputBox">
            <input type="number" name="otp" id="otp" placeholder="Verification Code">
        </div>
        {{#if error}}
        <div class="inputText">
            <span class="textMsg" style="color: red;">{{error.message}}</span>
        </div>
        {{/if}}
        <div class="inputBox">
            <button>
                Verify
            </button>
        </div>
        <div class="inputText">
            <span>You haven't received a verification code? Please check your email's <span style="color: #0078e8;">spam
                    or junk</span> folder.</span>
        </div>
    </form>
</div>